## Hello!

You already know what ```pandas``` is, can open your files, but you're not sure how to explore your data efficiently, or get useful information out of the DataFrames you just created? This tutorial will cover the most important assessing functions and methods for data exploration with ```pandas```!

*If you're unsure about the basics, you should check the <a href="https://github.com/lona9/PythonTutorials/blob/master/Basic%20pandas.ipynb">Basic pandas Tutorial</a> first!*

## Menu
- <a href="#methods">Assessing methods</a>
- <a href="#selecting">Selecting rows and colums</a>
- <a href="#queries">Queries and groupby</a>
- <a href="#more">More pandas</a>

<a id="methods"></a>
## Assessing methods
One of the advantages of using pandas in a Notebook is the visual assessment we can do with little code, as the DataFrames display nicely on the Notebook as we code. This comes with a bunch of different methods to assess our data. We've already used one a lot of times in this Notebook already, and that is the <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html">```head()```</a> method, which display the first n rows of your DataFrame, and will come as second nature when you want to check the general state of your DataFrame. This method has a default ```n=5``` argument, which can be changed to see more rows if you want to get a bigger picture.

In [8]:
# first of all, always import our package(s)
import pandas as pd

In [9]:
column_names = ["patient_id", "appointment_id", "gender", "scheduled_date", "appointment_date", "age", "neighbourhood", "scholarship", "hipertension", "diabetes", "alcoholism", "handcap", "sms_received", "no_show"]

df = pd.read_csv("noshowappointments-kagglev2-may-2016.csv", header=0, names=column_names)
df.head(10)

,patient_id,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0.0,1.0,0.0,0.0,0.0,0.0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,0.0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0.0,0.0,0.0,0.0,0.0,0.0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0.0,1.0,1.0,0.0,0.0,0.0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0.0,1.0,0.0,0.0,0.0,0.0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0.0,0.0,0.0,0.0,0.0,0.0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0.0,0.0,0.0,0.0,0.0,0.0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0.0,0.0,0.0,0.0,0.0,0.0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0.0,0.0,0.0,0.0,0.0,0.0,No

This method comes with an opposite, the <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail">```tail()```</a> method, which will show you the last n rows of your DataFrame, and also has a ```n=5``` default value.

In [10]:
df.tail()

,patient_id,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
110532,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,1.0,No
110533,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,1.0,No
110534,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,1.0,No
110535,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,1.0,No
110536,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,1.0,No

While this methods give us a quick visual assessment, we might want to get further info on the dimensions of our DataFrame or the datatypes we're dealing with.<br>
For instance, we can use <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape">```shape```</a> to get the dimentionality of our DataFrame as a tuple, representing the amount of rows and columns our DataFrame has, respectively. We could also use <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html">```dtypes```</a> to check the data type for each of our columns.<br>

In [11]:
df.shape

(110537, 14)

In [12]:
df.dtypes

patient_id          float64
appointment_id        int64
gender               object
scheduled_date       object
appointment_date     object
age                   int64
neighbourhood        object
scholarship         float64
hipertension        float64
diabetes            float64
alcoholism          float64
handcap             float64
sms_received        float64
no_show              object
dtype: object

If we want to check what's going on with duplicates or null values, we can use <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html">```isnull()```</a> to check missing values, and we can check for each column adding <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html?highlight=sum#pandas.DataFrame.sum">```sum()```</a> at the end.

In [13]:
df.isnull().sum()

patient_id          0
appointment_id      0
gender              4
scheduled_date      0
appointment_date    0
age                 0
neighbourhood       0
scholarship         2
hipertension        2
diabetes            2
alcoholism          4
handcap             3
sms_received        2
no_show             0
dtype: int64

There's a few columns with null values in them, and we'll see how to deal with those later. We can get a summary of all methods and functions mentioned above with <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html">```info()```</a>, which gives us an overall picture of dimensions, nulls, and data types.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110537 entries, 0 to 110536
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   patient_id        110537 non-null  float64
 1   appointment_id    110537 non-null  int64
 2   gender            110533 non-null  object
 3   scheduled_date    110537 non-null  object
 4   appointment_date  110537 non-null  object
 5   age               110537 non-null  int64
 6   neighbourhood     110537 non-null  object
 7   scholarship       110535 non-null  float64
 8   hipertension      110535 non-null  float64
 9   diabetes          110535 non-null  float64
 10  alcoholism        110533 non-null  float64
 11  handcap           110534 non-null  float64
 12  sms_received      110535 non-null  float64
 13  no_show           110537 non-null  object
dtypes: float64(7), int64(2), object(5)
memory usage: 11.8+ MB

For descriptive statistics, we have the <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html">```describe()```</a> method, which will give us central tendency measures, dispersion and shape excluding NaN values. This will describe all the column with numeric values, as seen below with columns with numeric datatypes (```int``` of ```float```). There's a particular case with IDs, as they are numeric in nature but are not meant to be processed as numbers because they're identifiers.

In [15]:
df.describe()

,patient_id,appointment_id,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received
count,1.105370e+05,1.105370e+05,110537.000000,110535.000000,110535.000000,110535.000000,110533.000000,110534.000000,110535.000000
mean,1.474926e+14,5.675295e+06,37.088957,0.098268,0.197232,0.071869,0.030398,0.022247,0.321057
std,2.560896e+14,7.130239e+04,23.109720,0.297677,0.397910,0.258271,0.171681,0.161538,0.466885
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172772e+12,5.640276e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173185e+13,5.680565e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439381e+13,5.725514e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

For a general overview of values, we might want to know the distribution of values on a particular column. We can select columns in a really easy way when they're written without spaces in the labels. There are other ways to access columns and rows, which we will cover later, but using the name of the column is the most straight-forward one. Let's say we wanted to see how many rows correspond to genders. We can use <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html">```value_counts()```</a> on a column to get this:

In [16]:
df.gender.value_counts()

F    71845
M    38688
Name: gender, dtype: int64

We could also want to explore how many different distinct ages we're dealing with this DataFrame, which we can obtain by using <a href="https://pandas.pydata.org/docs/reference/api/pandas.unique.html">```unique()```</a>:

In [17]:
df.age.unique()

array([ 62,  56,   8,  76,  23,  39,  21,  19,  30,  29,  22,  28,  54,
        15,  50,  40,  46,   4,  13,  65,  45,  51,  32,  12,  61,  38,
        79,  18,  63,  64,  85,  59,  55,  71,  49,  78,  31,  58,  27,
         6,   2,  11,   7,   0,   3,   1,  69,  68,  60,  67,  36,  10,
        35,  20,  26,  34,  33,  16,  42,   5,  47,  17,  41,  44,  37,
        24,  66,  77,  81,  70,  53,  75,  73,  52,  74,  43,  89,  57,
        14,   9,  48,  83,  72,  25,  80,  87,  88,  84,  82,  90,  94,
        86,  91,  98,  92,  96,  93,  95,  97, 102, 115, 100,  99,  -1])

We've covered a lot of different methods to assess your data, and you can find a ton more in the documentation, but for now, these are the most relevant ones to get a sense of your data, and to decide which steps to follow to get clean data and ready to analyze data.

<a id="selecting"></a>
## Selecting rows and columns

As mentioned before, each row has an index which is given automatically when the data is loaded as a DataFrame, and it will always start from 0 and will continue in order until the last row. This is important to select data based on row index. This can be changed if you have an index column that you want to keep, using the ```index_col``` argument on ```read_csv```, which takes an ```int``` for column index or a ```str``` with the name of the column. You can check your index characteristics, writing the following code:

In [18]:
df.index

RangeIndex(start=0, stop=110537, step=1)

This shows us we have 110525 rows (```stop``` value not inclusive), and there should be no skips considering we haven't dropped any rows after we loaded our DataFrame (skiprows doesn't read the rows in the original files, so the DataFrame stays intact since it loads without reading the defined rows, instead of loading all the rows and then dropping them). <br><br>We already know there's more than way of accessing columns and rows, so we'll cover another way here, using <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">```loc```</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html">```iloc```</a>to select by position/labels. They both work in similar ways, but their main difference comes from  ```loc``` being label-based, which means you'll select rows and columns from their labels, while ```iloc``` is integer position-based, so you'll select data based on their integer position values.<br><br>
You can use both to select single values as follows:<br>
```loc[row_label, column_label]``` and ```iloc[row_position, column_position]```<br><br>
In this case, our row labels also correspond to their row position, but it could be also be a string or other value if the index column is set as something else other than the position.

In [19]:
df.loc[1, "gender"]

'M'

In [20]:
df.iloc[1, 2]

'M'

We can see how both ```loc``` and ```iloc``` can be used to get the same result. We can use ```:``` to select the entire column as well:

In [21]:
df.loc[:, "gender"]

0         F
1         M
2         F
3         F
4         F
         ..
110532    F
110533    F
110534    F
110535    F
110536    F
Name: gender, Length: 110537, dtype: object

Or a complete row:

In [22]:
df.loc[3, :]

patient_id                867951213174.0
appointment_id                   5642828
gender                                 F
scheduled_date      2016-04-29T17:29:31Z
appointment_date    2016-04-29T00:00:00Z
age                                    8
neighbourhood          PONTAL DE CAMBURI
scholarship                          0.0
hipertension                         0.0
diabetes                             0.0
alcoholism                           0.0
handcap                              0.0
sms_received                         0.0
no_show                               No
Name: 3, dtype: object

Both can take lists as arguments for rows and columns, to get a 2-dimensional output:

In [23]:
df.iloc[[1,3], [1, 2, 5, 6]]

   appointment_id gender  age      neighbourhood
1         5642503      M   56    JARDIM DA PENHA
3         5642828      F    8  PONTAL DE CAMBURI

You can also create slices to have ranges of data. For ```loc```, you can use ```A:B``` to select data from label A to B (both inclusive).

In [24]:
df.loc[15:25, "age"]

15    15
16    50
17    40
18    30
19    46
20    30
21     4
22    13
23    46
24    65
25    46
Name: age, dtype: int64

In [25]:
df.loc[1:5, "appointment_id":"neighbourhood"]

,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood
1,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA
2,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA
3,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI
4,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA
5,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA

You can use the same syntax with ```iloc```, where you define n:m, where m is **excluded** (as opposed to ```loc``` ranges).

In [26]:
df.iloc[1:5, 6]

1      JARDIM DA PENHA
2        MATA DA PRAIA
3    PONTAL DE CAMBURI
4      JARDIM DA PENHA
Name: neighbourhood, dtype: object

In [27]:
df.iloc[10:20, 0:4]

      patient_id  appointment_id gender        scheduled_date
10  7.345362e+14         5630213      F  2016-04-27T14:58:11Z
11  7.542951e+12         5620163      M  2016-04-26T08:44:12Z
12  5.666548e+14         5634718      F  2016-04-28T11:33:51Z
13  9.113946e+14         5636249      M  2016-04-28T14:52:07Z
14  9.988472e+13         5633951      F  2016-04-28T10:06:24Z
15  9.994839e+10         5620206      F  2016-04-26T08:47:27Z
16  8.457439e+13         5633121      M  2016-04-28T08:51:47Z
17  1.479497e+13         5633460      F  2016-04-28T09:28:57Z
18  1.713538e+13         5621836      F  2016-04-26T10:54:18Z
19  7.223289e+12         5640433      F  2016-04-29T10:43:14Z

You can read what else you can do with ```loc``` and ```iloc``` in this great <a href="https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79">blog post</a>. These slicing and selecting methods will come really handy for when we need to operate on specific rows or columns, and we don't want to alter the rest of the data, or when we want to explore a specific subset without including other values in the DataFrame. This is useful when we've already identified the rows or columns we need to slice. Otherwise, we have other methods to filter by conditions or values, which we will get to see in the last section of this tutorial.

<a id="queries"></a>
## Queries and groupby
These two methods are super helpful when we need to perform actions on data based on a condition, which is passed as an argument in both cases.<br>
First, we'll see what <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html">```query```</a> can do. This is a method which takes a boolean expression to be evaluated as argument, and returns a DataFrame with the results of the performed query. Let's look at some examples with our DataFrame.

In [31]:
df_male = df.query("gender == 'M'")
df_male

,patient_id,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,0.0,No
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,28,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,0.0,No
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,0.0,No
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110511,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,44,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110516,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,5,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110519,4.952968e+14,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,33,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110523,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,2,ANTÃ”NIO HONÃ“RIO,0.0,0.0,0.0,0.0,0.0,0.0,No
110525,6.456342e+14,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,33,MARIA ORTIZ,0.0,1.0,0.0,0.0,0.0,0.0,Yes

In [33]:
df_minors = df.query("age <= 17")
df_minors

,patient_id,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0.0,0.0,0.0,0.0,0.0,0.0,No
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,15,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,1.0,No
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0.0,0.0,0.0,0.0,0.0,0.0,Yes
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0.0,0.0,0.0,0.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110514,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,4,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110516,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,5,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110517,4.769462e+14,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,0,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110521,8.235996e+11,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,14,MARIA ORTIZ,0.0,0.0,0.0,0.0,0.0,0.0,No
110523,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,2,ANTÃ”NIO HONÃ“RIO,0.0,0.0,0.0,0.0,0.0,0.0,No

In [73]:
df_noshow_sms = df.query("sms_received == 1.0 and no_show == 'Yes'")
df_noshow_sms

,patient_id,appointment_id,gender,scheduled_date,appointment_date,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
48,8.545415e+12,5618643,F,2016-04-26T07:19:49Z,2016-04-29T00:00:00Z,58,SÃƒO CRISTÃ“VÃƒO,0.0,0.0,0.0,0.0,0.0,1.0,Yes
49,9.223559e+13,5534656,F,2016-03-31T17:11:17Z,2016-04-29T00:00:00Z,27,GRANDE VITÃ“RIA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
50,1.827172e+14,5534661,F,2016-03-31T17:12:45Z,2016-04-29T00:00:00Z,19,GRANDE VITÃ“RIA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110471,3.346245e+12,5628114,F,2016-04-27T10:29:36Z,2016-06-03T00:00:00Z,13,RESISTÃŠNCIA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
110479,8.322564e+14,5656075,F,2016-05-04T07:35:31Z,2016-06-07T00:00:00Z,51,RESISTÃŠNCIA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
110480,4.125933e+12,5692391,F,2016-05-12T15:12:01Z,2016-06-02T00:00:00Z,26,RESISTÃŠNCIA,0.0,0.0,0.0,0.0,0.0,1.0,Yes
110489,4.455244e+12,5638153,F,2016-04-29T07:45:43Z,2016-06-06T00:00:00Z,34,RESISTÃŠNCIA,1.0,0.0,0.0,0.0,0.0,1.0,Yes
110492,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÃŠNCIA,1.0,0.0,0.0,0.0,0.0,1.0,Yes

We can easily create new DataFrames from selected data based on a condition using ```query```.<br><br>
There's another method we can use, which is <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html">groupby</a>, and it's very useful to group on specific columns so we can perform aggregations on our DataFrame. We'll see some examples to show how ```groupby``` works.

In [78]:
df.groupby(by="gender").mean()

,patient_id,appointment_id,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received
gender,,,,,,,,,
F,1.460075e+14,5.674328e+06,38.894050,0.123227,0.213504,0.078030,0.017023,0.019543,0.336938
M,1.502469e+14,5.677098e+06,33.735861,0.051902,0.167007,0.060434,0.055238,0.027269,0.291597

In [83]:
df.groupby(by="hipertension").mean()

,patient_id,appointment_id,age,scholarship,diabetes,alcoholism,handcap,sms_received
hipertension,,,,,,,,
0.0,1.483126e+14,5.674843e+06,31.309329,0.101181,0.016420,0.022912,0.015834,0.322514
1.0,1.441390e+14,5.677140e+06,60.612541,0.086418,0.297555,0.060869,0.048349,0.315152

Both these methods will be handy for selecting data and performing aggregations on them for further analysis. You can check the documentation to see how you can use further arguments for specific conditions or operations.

<a id="more"></a>
## More pandas

You've learned the basics of ```pandas``` and several methods and functions to do assessment on your data and select it based on conditions or positions, you're ready to get to start cleaning your data and using other methods to manipulate your DataFrame! You can head over to the <a href="https://github.com/lona9/PythonTutorials/blob/master/Cleaning%20with%20pandas.ipynb">Cleaning with pandas</a> tutorial to learn more!